// @font-face {
//   font-family: 'LeeSeoyun';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff')
//     format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff%27')
    format('woff');
  font-weight: normal;
  font-style: normal; 
}
#all {
  //   font-family: 'Nanum Gothic', sans-serif;
  //font-family: 'LeeSeoyun';
  font-family: 'NanumSquareRound';
}

