#board {
  //작성 글과 댓글에만 해당
  background-color: white;
  margin: 0 auto;
  overflow: scroll;
  width: 1080px; // 2560(QHD), 1920(FHD), 1680, 1440
  height: 500px;
  margin-top: 50px;
  border-radius: 20px;
}

#a_name1 {
  width: 100px;
  overflow: hidden; // 영역 감추기
  text-overflow: ellipsis; // ...로 만들기
  white-space: nowrap; // 아래줄 내려가는 것 막기
}
#a_email1 {
  width: 200px;
}
#a_content1 {
  width: 300px;
}