.checktitle {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
}
#board {
    //작성 글과 댓글에만 해당
    background-color: white;
    margin: 0 auto;
    overflow: scroll;
    width: 1080px; // 2560(QHD), 1920(FHD), 1680, 1440
    height: 500px;
    margin-top: 50px;
    border-radius: 20px;
  }