#Modify {
  padding-left: 10px;
  display: inline-table;
  #nickname {
    label {
      padding-bottom: 20px;
      font-weight: bold;
      font-size: 20px;
    }
    .nicknameInput {
      width: 200px;
      height: 40px;
    }
    span {
      padding-left: 20px;
    }
    .password {
      font-weight: bold;
      font-size: 20px;
    }
  }
}

div div.buttonGroup {
  justify-content: center;
  text-align: center;
}

div button.withdraw {
  background-color: #008080;
  border-radius: 8px;
  outline: 0px;
  padding: 10px 24px;
  margin-right: 50px;
  color: white;
}
div button.completion {
  background-color: #008080;
  border-radius: 8px;
  outline: 0px;
  padding: 10px 24px;
  color: white;
}
