//------------------------------정보 수정 전체------------------------------
#modifyForm {
  justify-content: center;
  text-align: center;
  background-color: white;
  margin: 0 auto;
  overflow: hidden;
  width: 1024px; // 2560(QHD), 1920(FHD), 1680, 1440
  height: 600px;
  margin-top: 50px;
  border-radius: 20px;
  .modifyLabel {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
  }
  .modifyText {
    display: flex;
    margin-left: 10px;
    //margin-bottom: 20px;
  }
  //------------------------------닉네임 부분------------------------------

  #modifynicknameForm {
    margin-left: 30px;
    margin-bottom: 20px;
    .nicknameInput {
      width: 300px;
    }
  }

  //------------------------------비밀번호 부분------------------------------
  #modifyPassword {
    margin-left: 30px;
    .modifyNewPasswordForm {
      display: flex;
    }
    .passwordInput {
      width: 300px;
      margin-bottom: 30px;
    }
    .passwordInput_1 {
      width: 300px;
    }
    .passwordInput_2 {
      width: 300px;
    }
    .modifyCheckPasswordForm {
      display: flex;
      //margin-bottom: 100px;
    }
  }
  .errorcode {
    font-size: 12px;
    color: red;
    font-weight: bold;
    //margin-left: 20px;
    display: flex;
    align-items: center;
  }
  .okcode {
    font-size: 12px;
    color: blue;
    font-weight: bold;
    float: left;
    display: flex;
    align-items: center;
  }
  //------------------------------버튼 부분------------------------------
  #buttonGroup {
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    .withdraw {
      background-color: #3b9d9d;
      border-color: #3b9d9d;
      border-radius: 8px;
      outline: 0px;
      padding: 10px 24px;
      color: white;
      margin-right: 50px;
    }
    .completion {
      background-color: #3b9d9d;
      border-color: #3b9d9d;
      border-radius: 8px;
      outline: 0px;
      padding: 10px 24px;
      color: white;
    }
  }
}
