* {
  margin: 0;
  padding: 0;
}
#noticeDetailAll {
  justify-content: center;
  width: 1024px; // 2560(QHD), 1920(FHD), 1680, 1440
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 30px;
  .noticeDetailTop {
    // 제일 상단 '공지사항'
    font-size: 25px;
    //font-weight: bold;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  #detailNoticePost {
    //게시글 내용
    height: 500px;
    border-bottom: 1px solid #3b9d9d;
    margin-bottom: 30px;
    #detailTitle {
      //하단 밑줄
      border-bottom: 1px solid #3b9d9d;
      // display: flex;
      .noticeTitle {
        //제목
        font-size: 30px;
        font-weight: bold;
      }
      span {
        float: right;
        font-size: 20px;
        margin-top: 20px;
      }
    }
    .noticeContent {
      margin-top: 50px;
      margin-left: 40px;
      font-weight: lighter;
    }
    .noticeDate {
      float: right;
    }
  }

  Button {
    //하단 버튼 4개
    float: right;
    margin-right: 20px;
    border: 1px solid #3b9d9d;
    background-color: #3b9d9d;
    color: white;
    border-radius: 5px;
    outline: 0;
    width: 80px;
    height: 30px;
  }
}
