* {
  margin: 0;
  padding: 0;
}
#noticeAll {
  justify-content: center;
  width: 1080px; // 2560(QHD), 1920(FHD), 1680, 1440
  height: 800px;
  margin: 0 auto;
  overflow: hidden;
  p {
    margin-top: 70px;
  }
  .noticeTitle {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .noticeButton {
    //공지사항 글쓰기 버튼
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 20px;
    float: right;
    border: 1px solid #3b9d9d;
    background-color: #3b9d9d;
    color: white;
    border-radius: 5px;
    outline: 0;
    width: 100px;
    height: 30px;
  }
}
