* {
  margin: 0;
  padding: 0;
}
#trendAll {
  justify-content: center;
  text-align: center;
  width: 1024px; // 2560(QHD), 1920(FHD), 1680, 1440
  margin: 0 auto;
  overflow: hidden;
  .time {
    display: flex;
    justify-content: center;
  }

  .time p {
    font-size: 25px;
    text-align: center;
    width: 300px;
    height: 60px;
    margin-top: 60px;
    padding-top: 10px;
    border-radius: 5px;
    // background-color: #008080;
    background-color: rgb(224, 224, 224);
    color: black;
  }

  .todayTrend {
    display: inline-flex;
    justify-content: center;
    width: 1080px;
    border-bottom: 2px solid #f1f1f1;
    margin-bottom: 80px;
    // border: 1px solid red;
  }

  .latestArticles {
    display: flex;

    #article1 {
      display: inline-flex;

      width: 300px;
      height: 320px;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 25px;
      margin-bottom: 20px;
      .todayLink {
        display: flex;

        text-decoration: none;
        color: black;
      }
      .articleTitle {
        margin-top: 20px;
      }
    }
  }

  #passTrend {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 25px;
      text-align: center;
      width: 300px;
      height: 60px;
      margin-bottom: 50px;
      padding-top: 10px;
      border-radius: 5px;

      background-color: rgb(224, 224, 224);
      color: black;
    }
    #article2 {
      display: flex;
      flex-wrap: wrap;
      white-space: normal;

      .article2A {
        flex-shrink: 0;
        flex: 1 1 30%;
        width: 100px;
        margin-bottom: 80px;

        margin-right: 10px;
        margin-left: 10px;
      }
      img {
        width: 300px;
        height: 200px;
      }
      .articleLink {
        text-decoration: none;
        color: black;
      }
      .articleTitle {
        margin: 0 auto;
        margin-top: 20px;
        width: 300px;
      }
    }
  }
}
