* {
  margin: 0;
  padding: 0;
}
#myPageMain {
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  width: 1440px; // 2560(QHD), 1920(FHD), 1680, 1440
  height: 1440px;
  background-color: #f4f4f4;

  #g_no {
    width: 250px;
    padding-left: 60px;
  }
  #g_no1 {
    width: 250px;
    padding-left: 65px;
  }
  #g_title {
    width: 500px;
  }
 
  #g_tag {
    width: 120px;
  }
 
  #board {
    //작성 글과 댓글에만 해당
    background-color: white;
    margin: 0 auto;
    overflow: scroll;
    width: 1080px; // 2560(QHD), 1920(FHD), 1680, 1440
    height: 500px;
    margin-top: 50px;
    border-radius: 20px;
    .myPageLink {
      color: black;
      text-decoration: none;
    }
    .myPageTabs {
      margin-top: 10px;
      margin-left: 20px;
    }
    .myPageTable {
      width: 1000px;
      margin-left: 20px;
    }
  }
}
#g_apply{
  display: flex;
  justify-content: center;
  font-weight: bold;
  
}
#apply{
  display: flex;
  justify-content: center;
}
#applybutton {
  background-color: #3b9d9d;
  color: white;
  border-radius: 10px;
  outline: 0;
  border: 0;
  float: right;
  width: 80px;
}

#sideBar {
  display: flex;
  border-right: 1px solid #e0e0e0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  height: 300px;
  background-color: white;
  margin-left: 50px;
  margin-top: 50px;
  .Menu {
    margin-top: 30px;
    margin-left: 20px;
    width: 200px;
    flex-direction: column;
  }
}
