div.side {
  display: flex;
  border-right: 1px solid #e0e0e0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
}
div.Menu {
  margin-top: 30px;
  width: 200px;
  display: flex;
  flex-direction: column;
}
