* {
  margin: 0;
  padding: 0;
}
#itTechMain {
  justify-content: center;
  width: 1024px; // 2560(QHD), 1920(FHD), 1680, 1440
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 100px;
  // border: 1px solid blue;
  p.itTechPageTitle {
    font-size: 25px;
    float: left;
  }
  .skill_list {
    list-style: none;
    margin-top: 100px;
  }
  .itTechLink {
    text-decoration: none;
    color: black;
  }
  .itTechSpan {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .boardTitle {
    display: inline-block;
    max-width: 600px;
    font-size: 17px;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
    white-space: nowrap; // 아래줄 내려가는 것 막기
    overflow: hidden; // 영역 감추기
    text-overflow: ellipsis; // ...로 만들기
    // border: 1px solid green;
  }
  .boardDate {
    float: right;
    // border: 1px solid orange;
  }
  .titleList {
    width: 790px;
    margin: auto 0;
    padding-top: 10px;
    list-style: none;
    // border: 1px solid red;
  }
}
