@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

$text-Color: green;
$color-background: white;

div.topNevber {
  font-family: 'Jua', sans-serif;
  background-color: #008080;
}
h1 {
  background: $color-background;
}
div.header {
  font-family: 'Jua', sans-serif;
  color: $text-Color;
}
