@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

$text-Color: green;
$color-background: white;
* {
  margin: 0;
  padding: 0;
}
div.mainTopNavber {
  font-family: 'Jua', sans-serif;
  background: $color-background;
  justify-content: center;
  align-items: 'center';
  color: white;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 20px;
  background-color: #008080;
}
div p.subject {
  background: $color-background;
  font-size: xx-large;
}
div p div.loginAndRegister {
  font-size: large;
  justify-content: center;
  text-align: center;
  float: right;
}
#topNav {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;

  div.topNavFrist {
    width: 33%;
  }
  div.topNavSecond {
    width: 33%;
  }
  div.topNavThird {
    width: 33%;
  }
  div.header {
    font-family: 'Jua', sans-serif;
  }
}
