@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import 'bootstrap';

$text-Color: white;

div.bottomNavber {
  background-color: #949492;
  color: $text-Color;
}

.bottom {
  background-color: #949492;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 30px;
}

div.bottom {
  color: $text-Color;
}

div.Navb {
  color: $text-Color;
}
