@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

$text-Color: green;
$color-background: white;
* {
  margin: 0;
  padding: 0;
}
#mainTopNavber {
  font-family: 'Jua', sans-serif;
  justify-content: center;
  align-items: 'center';
  color: white;
  width: 1440px; // 2560(QHD), 1920(FHD), 1680, 1440
  margin: 0 auto;
  overflow: hidden;
  margin-top: 10px;
  background-color: #ffffff;
  #topLoginAndRegister {
    float: right;
    font-size: 20px;
    .Login {
      text-decoration: none;
      color: black;
      margin-right: 20px;
    }
    .Register {
      text-decoration: none;
      color: black;
    }
  }
  #topNav {
    background-color: #008080;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 20px;
    display: flex;
    #navbarMain {
      justify-content: center;
      margin-left: 20px;
      display: flex;
      .itTrendNav {
        text-decoration: none;
        color: white;
      }
      .itTechNav {
        text-decoration: none;
        color: white;
      }
      .itGroupNav {
        text-decoration: none;
        color: white;
      }
      .itCommuNav {
        text-decoration: none;
        color: white;
      }
    }
    .searchMain {
      display: flex;
      margin-left: 30px;
    }
  }
}
/* div p div.loginAndRegister {
  font-size: large;
  justify-content: center;
  text-align: center;
  float: right;
} */
