p.itT {
  text-align: center;
  font-size: 30px;
  background-color: white;
}
p.community {
  text-align: center;
  font-size: 30px;
  background-color: white;
}
p.recentPost {
  text-align: center;
  font-size: 30px;
  background-color: white;
}
