* {
  margin: 0;
  padding: 0;
}
#GroupBoardMain {
  justify-content: center;
  text-align: center;
  width: 1080px; // 2560(QHD), 1920(FHD), 1680, 1440
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 40px;
  .writingButton {
    background-color: #3b9d9d;
    color: white;
    border-radius: 10px;
    outline: 0;
    border: 0;
    float: right;
    width: 100px;
    margin-bottom: 40px;
  }
  .boardFirstLine {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    justify-content: space-evenly;
    width: 1080px; // 2560(QHD), 1920(FHD), 1680, 1440
    margin: 0 auto;
    overflow: hidden;
  }
  #groupCard {
    margin-bottom: 30px;
    .title {
      font-size: 18px;
    }
    .bodyLink {
      justify-content: center;
      text-align: center;
    }
    .link {
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
    .cardText {
      overflow: hidden; // 영역 감추기
      text-overflow: ellipsis; // ...로 만들기
      white-space: nowrap; // 아래줄 내려가는 것 막기
    }
  }
  #pageButton {
    display: flex;
    list-style: none;
    justify-content: center;
    text-align: center;
    li {
      padding: 10px;
      border: 1px solid black;
      cursor: pointer;
    }
    li.active {
      background-color: black;
      color: white;
    }
    li button {
      background-color: transparent;
      border: none;
      color: black;
      cursor: pointer;
    }
    li button:hover {
      background-color: black;
      color: white;
    }
    li button:focus {
      outline: none;
    }
  }
  #groupSearch {
    justify-content: center;
    text-align: center;
    .searchInput {
      margin-right: 20px;
    }
    .searchButton {
      //버튼 테두리 필요
    }
  }
}

// height 픽스 조절, 입력 글자가 늘어날때는 잘려나가게. 보이는 것만 안보이게. (생략 기능) 자바스크립트 코드로 몇 글자 이상 넘어가면 생략되게
/*
 div {
   overflow: scroll;
 }
 div {
   overflow: hidden;
 }
*/
