* {
  margin: 0;
  padding: 0;
}
#groupBoardAll {
  //모임 찾기 전체
  justify-content: center;
  text-align: center;
  width: 1024px; // 2560(QHD), 1920(FHD), 1680, 1440
  margin: 50px auto;
  overflow: hidden;
  margin-bottom: 40px;
  .groupTitle {
    // 상단 '모임찾기' 텍스트
    text-align: left;
    font-size: 25px;
    //font-weight: bold;
    margin-bottom: 50px;
  }
  .writingButton {
    //로그인 후 글쓰기 버튼
    background-color: #3b9d9d;
    color: white;
    border-radius: 10px;
    outline: 0;
    border: 0;
    float: right;
    width: 100px;
    margin-bottom: 40px;
   
  }
  #boardLine {
    // 게시글
     display: grid;
     grid-template-columns: 300px 300px 300px;
     grid-template-rows: 350px 350px;
     justify-content: center;
     width: 1024px; // 2560(QHD), 1920(FHD), 1680, 1440
     grid-column-gap: 60px;
     margin-right: auto 0;
     overflow: visible;
     .groupCardCss {
       outline: 0;
       margin-bottom: 20px;
       //width: 18rem;
       height: 18rem;
     }
    .title {
      margin-top: 20px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: black;
    }
    .cardText {
      text-align: center;
      color: black;
      overflow: hidden; // 영역 감추기
      text-overflow: ellipsis; // ...로 만들기
      white-space: nowrap; // 아래줄 내려가는 것 막기
    }
    .bodyLink {
      margin-top: 10px;
    }
    .link {
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
  }
}
#groupSearch {
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  display: flex;
  .searchInput {
    position: relative;
    width: 192px;
    height: 40px;
    border: 2px solid #99d9d9;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .searchButton {
    position: absolute;
    color: gray;
    border-radius: 5px;
    outline: 0;
    width: 80px;
    height: 25px;
    margin-left: 75px;
    margin-top: 7px;
  }
}
#pageButton {
  display: flex;
  list-style: none;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  li {
    padding: 10px;
    border: 1px solid #3b9d9d;
    margin-right: 10px;
    cursor: pointer;
  }
  li.active {
    background-color: #3b9d9d;
    color: white;
  }
  li button {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
  }
  li button:hover {
    color: #3b9d9d;
  }
  li button:focus {
    outline: none;
  }
}

// height 픽스 조절, 입력 글자가 늘어날때는 잘려나가게. 보이는 것만 안보이게. (생략 기능) 자바스크립트 코드로 몇 글자 이상 넘어가면 생략되게
/*
 div {
   overflow: scroll;
 }
 div {
   overflow: hidden;
 }
*/
