* {
  margin: 0;
  padding: 0;
}
#groupWritingAll {
  .writingForm {
    //Form 공간 부여
    margin-top: 50px;
  }
  // Form 전체
  justify-content: center;
  width: 1024px; // 2560(QHD), 1920(FHD), 1680, 1440
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  #writingSub {
    // 순차적으로 소제목, 주제 선택, 파일 업로드 부분.
    display: flex;
    margin-bottom: 30px;
    .writingSubTitle {
      width: 512px;
    }
    .writingSelect {
      margin-left: 32px;
      width: 128px;
    }
  }
  .writingText {
    // 내용
    height: 400px;
  }
  #button {
    // 순차적으로 취소, 등록 버튼 부분
    display: flex;
    float: right;
    padding-bottom: 100px;
    .cancel {
      width: 80px;
      font-size: 15px;
      border: none;
      background: #3498db;
      border-radius: 5px;
      margin-top: 40px;
    }
    .submit-button {
      width: 80px;
      font-size: 15px;
      border: none;
      background: #3498db;
      border-radius: 5px;
      margin-top: 40px;
    }
  }
}
