* {
  margin: 0;
  padding: 0;
}
#communityWritingAll {
  // 페이지 전체
  justify-content: center;
  width: 1024px; // 2560(QHD), 1920(FHD), 1680, 1440
  margin: 70px auto;
  overflow: hidden;
  text-align: center;
  .writingForm {
    // Form 공간 부여
    margin-top: 100px;
  }
  .communityTitle {
    // '소통공간' 글씨
    float: left;
    font-size: 25px;
    //font-weight: bold;
  }
  #writingTop {
    // 주제 선택 및 제목 입력 부분
    display: flex;
    width: 1024px;
    .writingSelect {
      width: 128px;
      margin-right: 10px;
    }
  }
  .writingText {
    // 내용
    margin-top: 20px;
    height: 400px;
  }
  #button {
    // 순차적으로 취소, 등록 버튼 부분
    display: flex;
    float: right;
    padding-bottom: 100px;
    .cancel {
      width: 80px;
      font-size: 15px;
      border: none;
      background: #3b9d9d;
      border-radius: 5px;
      margin-top: 40px;
    }
    .submit-button {
      width: 80px;
      font-size: 15px;
      border: none;
      background: #3b9d9d;
      border-radius: 5px;
      margin-top: 40px;
    }
  }
}
