* {
  margin: 0;
  padding: 0;
}

#LoginAll {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1024px; // 2560(QHD), 1920(FHD), 1680, 1440
  height: 1000px;
  margin: 0 auto;
  overflow: hidden;

  .loginTitle {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
  #inputLogin {
    width: 256px;
    height: 50px;
    border: 2px solid #99d9d9;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  #btn {
    background-color: #61c4c4;
    border-radius: 10px;
    color: white;
    outline: 0;
    border: 0;
    width: 256px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .loginCheck {
    text-align: center;
    color: gray;
  }
  .loginBottom {
    text-decoration: none;
    padding-bottom: 50px;
    color: gray;
  }
  .error {
    font-size: 15px;
    color: red;
  }
}
